<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="min-h-screen w-screen font-sans flex flex-col bg-white text-gray-900">
    @!component('components/header')
  
    <main class="flex-1 px-4 sm:px-6 lg:px-8">
      <a href="/home" class=" flex bg-primary text-white font-semibold px-4 py-2 mt-4 rounded-md hover:bg-primary">
        Create Short url
      </a>
      <div class="max-w-screen-lg mx-auto mt-4 lg:sticky lg:top-0 bg-white z-10 pb-4">
        <h1 class="text-3xl sm:text-4xl font-bold text-primary mb-2">
          All your shorten Urls
        </h1>
  
        <p class="text-base sm:text-lg text-sand-11 mb-2">
          Instantly edit and delete your urls
        </p>
      </div>
  
      <section class="max-w-screen-lg mx-auto mt-2 flex flex-col gap-6">
        @each(list in lists)
          <div class="border p-4 rounded-lg shadow hover:shadow-md transition bg-sand-2 flex flex-col">
            <div>
              <a class="text-blue-600 break-all" href="">Short Url: {{list.short_url}}</a>
              <p class="text-gray-700 break-words mb-4 line-clamp-2">Original Url: {{list.original_url}}</p>
            </div>
  
            <div class="flex gap-3 mt-auto">
              <a href="/edit/{{list.id}}" class="bg-primary text-white px-8 py-2 rounded-md hover:bg-yellow-600">
                Edit
              </a>
              <form action="/delete/{{list.id}}" method="DELETE" class="flex-1 min-w-[120px]">
                {{ csrfField() }}
                <button type="submit" class="bg-red-600 text-white px-5 py-2 rounded-md hover:bg-red-700 ">
                  Delete
                </button>
              </form>
            </div>
          </div>
        @end
      </section>
    </main>
  
    @!component('components/footer')
  </body>
  
</html>
